<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Validation</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,100,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="page">
  <section class="card register">
  <form name="myform" ng-submit="submit()" ng-controller="FormController" novalidate>

    <div class="textintro">
      <h1>Form Validation - Angular</h1>
      <p>Please fill out the following form</p>
    </div>

    <fieldset>

      <input type="text" name="firstname" ng-model="user.firstname" ng-minlength="5" ng-maxlength="20" placeholder="Enter First Name" required>
      <span ng-show="myform.firstname.$valid"><img class="greenarrow1" src="images/checkmark.png"></span>
        <div class="error" ng-show="myform.firstname.$dirty && myform.firstname.$invalid">
          <span ng-show="myform.firstname.$error.required">You must enter your first name</span>
          <span ng-show="myform.firstname.$error.minlength">It must be at least five characters</span>
          <span ng-show="myform.firstname.$error.maxlength">It cannot be more than 20 characters length</span>
         
        </div>
    
      <input type="text" name="lastname" ng-model="user.lastname" ng-minlength="5" ng-maxlength="20" placeholder="Enter Last Name" required>
      <span ng-show="myform.lastname.$valid"><img class="greenarrow2" src="images/checkmark.png"></span>
        <div class="error" ng-show="myform.lastname.$dirty && myform.lastname.$invalid">
          <span ng-show="myform.lastname.$error.required">You must enter your last name</span>
          <span ng-show="myform.lastname.$error.minlength">It must be at least five characters</span>
          <span ng-show="myform.lastname.$error.maxlength">It cannot be more than 20 characters length</span>
        </div>
    
      <input type="email" name="email" ng-model="user.email" placeholder="Enter Email" required ng-pattern="rex">
      <span ng-show="myform.email.$valid"><img class="greenarrow3" src="images/checkmark.png"></span>
         <div class="error" ng-show="myform.email.$dirty && myform.email.$invalid">
          <span ng-show="myform.email.$error.required">You must enter a valid email</span>
          <span ng-show="myform.email.$error.pattern">Not a valid email pattern</span>
         
        </div>
    
      <input type="password" name="password" ng-minlength="5" ng-maxlength="20" ng-model="user.password" placeholder="Enter Password" required>
      <span ng-show="myform.password.$valid"><img class="greenarrow4" src="images/checkmark.png"></span>
          <div class="error" ng-show="myform.password.$dirty && myform.password.$invalid">
              <span ng-show="myform.password.$error.required">You must enter a password</span>
              <span ng-show="myform.password.$error.minlength">It must be at least five characters</span>
              <span ng-show="myform.password.$error.maxlength">It cannot be more than 20 characters length</span>
          </div>
    
    </fieldset>

    <button type="submit" ng-disabled="myform.$invalid" class="btn">Submit</button>
    


    <br/><br/>
    

    <div ng-show="myform.$valid && myform.submitted">
    <h2>You Submitted this:</h2>
    
           <div>
              <p>Firstname: {{user.firstname}}</p>
              <p>Lastname: {{user.lastname}}</p>
              <p>Email: {{user.email}}</p>
              <p>Password: {{user.password}}</p>

           </div>
    </div>
    
  </form>
</section>
</div>
<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
<script type="text/javascript">
     var myApp = angular.module('myApp', []);

     myApp.controller('FormController', ['$scope', function($scope) {

        $scope.submitted = false;

        $scope.rex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
       


        $scope.submit = function() {
          console.log('you pressed submit');
          $scope.myform.submitted = true;
         




        };


     }]);







</script>
</body>
</html>
